<footer class="page-footer bg-image" style="background-image: url(../assets/img/world_pattern.svg);">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 py-3">
          <h3>CricSquid</h3>
          <p>Analysis of Cricket Players with His Historical Performance</p>

          <div class="social-media-button">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-google-plus-g"></span></a>
            <a href="#"><span class="mai-logo-instagram"></span></a>
            <a href="#"><span class="mai-logo-youtube"></span></a>
          </div>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Contact Us</h5>
          <a href="#" class="footer-link">+91 9574510371</a>
          <a href="#" class="footer-link">Cricsquid@gmail.com</a>
        </div>
      </div>

      <p class="text-center" id="copyright">Copyright &copy; 2021. This Analytical Platform Developed By <a href="https://cricsquid.live/" target="_blank">Ronesh Gangavani, Harsh Patel & Parth Barot</a></p>
    </div>
  </footer>

<script src="../assets/js/jquery-3.5.1.min.js"></script>

<script src="../assets/js/bootstrap.bundle.min.js"></script>

<script src="../assets/js/google-maps.js"></script>

<script src="../assets/vendor/wow/wow.min.js"></script>

<script src="../assets/js/theme.js"></script>
  
</body>
</html>