<!-- <!DOCTYPE html>
<html lang="en">
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" media="all">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.6.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cufon-yui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cufon-replace.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Vegur_700.font.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Vegur_400.font.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Vegur_300.font.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tms-0.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tms_presets.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/backgroundPosition.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/atooltip.jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="js/html5.js"></script>
<style type="text/css">.box1 figure{behavior:url("js/PIE.htc");}</style>

</head> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="Cricket Squid, https://cricsquid.com/">
  <title>{{title}}</title>
  <link rel="stylesheet" href="  {{ url_for('static', filename='assets/css/maicons.css') }}  ">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }} ">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css') }}">

<script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174448945-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174448945-1');
</script>


</head>

<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img style="max-width:auto; height: 100px;" src="{{ url_for('static', filename='assets/img/cricsquid.png') }}" alt="Cricket Squid">
        </a>


        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" onclick= "openNav1()"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="btn btn-primary ml-lg-2" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary ml-lg-2" href="#">Free Analytics</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
<script>
    function openNav1() {
      document.getElementById("navbarContent").style.width = "100%";
    }
    
    function closeNav1() {
      document.getElementById("navbarContent").style.width = "0%";
    }
</script>