{% include "header.html" %}


    <div class="container">
      <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft">
            <h2 class="text-lg text-grey mb-4">Today's Big Match</h2>
            <h1 class="mb-4">{{match_title}}</h1>
            
            <a href="/match1" class="btn btn-primary btn-split">Playing 11 <div class="fab"><span class="mai-play"></span></div></a>
          </div>
          <div class="col-md-6 py-5 wow zoomIn">
            <div class="img-fluid text-center">
              <img src="{{ url_for('static', filename='assets/img/banner_image_1.svg') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="page-section">
    <div class="container">
      <div class="row">
        {% for key,value in worl_cup_upcoming.iterrows()  %}
        <div class="col-sl-4" style="padding: 1.5%;">
          <div class="card-service wow fadeInUp">
            <div class="header">
              <img src="{{ url_for('static', filename='assets/img/services/service-1.svg') }}" alt="">
            </div>
            <div class="body">
              <p>Upcoming...</p>
              <h5 class="text-secondary">{{value['match_title'][0]}}</h5>
              <p>{{value['date']}}</p>
              <a href="service.html" class="btn btn-primary">Team Analysis</a>
            </div>
          </div>
        </div>
        <option value="{{ id }}">{{ text }}</option>
         {% endfor %}
       
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->
  {% include "footer.html" %}